.row
    .my-profile-block
        a.my-profile-block__back-button(href='#')
        .my-profile-header
            .my-profile-header__info-segment
                .my-profile-header__subscribers-img
                |#{followers} Подписчиков
            .my-profile-header__avatar(id='profileAvatar')
                label(class="settings-block__change-avatar-img")
                    input.settings-block__change-avatar-img(id='imageFile' type='file')
                button.settings-block__edit-img(type='submit' id='postAvatarProfile')
            .my-profile-header__events-segment
                .my-profile-header__info-segment
                    .my-profile-header__black-star-img
                    |                         2 Планируемых
                .my-profile-header__info-segment
                    .my-profile-header__visited-events-img
                    |                         11 Посещенных
        .decor-line
        .settings-block
            .settings-block__one-setting
                .settings-block__title
                    | Меня зовут:
                form.span-form()
                    input.settings-block__input(type='text' placeholder='Введите' name='name' value=name class='form__input')
                    button.settings-block__edit-img(type='submit' id='postProfile')
            .settings-block__one-setting
                .settings-block__title
                    | Дата рождения:
                form.span-form()
                    input.settings-block__input(type='text' placeholder='Введите' name='birthday' value=birthday class='form__input')
                    button.settings-block__edit-img(type='submit' id='postProfile')
            .settings-block__one-setting
                .settings-block__title
                    | Город:
                form.span-form()
                    input.settings-block__input(type='text' placeholder='Введите' name='city' value=city class='form__input')
                    button.settings-block__edit-img(type='submit' id='postProfile')
            .settings-block__one-setting
                .settings-block__title
                    | Почта:
                form.span-form()
                    input.settings-block__input(type='text' placeholder='Введите' name='email' value=email class='form__input')
                    button.settings-block__edit-img(type='submit' id='postProfile')