form.changing-content-block__form(action, id='jsFormBody')
    .changing-content-block__one-line-setting(style='padding-left: 15px; padding-right: 15px')
        | С заполненным профилем Вам будет легче найти компанию для похода на мероприятие. Расскажите о себе, человек со схожими вкусами обязательно найдется!
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            .changing-content-block__title.
                        Меня зовут:
            input.changing-content-block__input(type='text', value=name, placeholder='Введите, как вас зовут', name='name')
            .form-body__input_error(id="nicknameError")
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            .changing-content-block__title.
                        Немного обо мне:
            input.changing-content-block__input(type='text', value=about, placeholder='Напишите немного о себе', name='about')
            .form-body__input_error(id="aboutError")
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            .changing-content-block__title.
                        Я родился(-ась):
            input.changing-content-block__input(type='text', value=birthday, placeholder='ГГГГ-ММ-ДД', name='birthday')
            .form-body__input_error(id="birthdayError")
    .changing-content-block__one-line-setting
      .changing-content-block__one-setting
            .changing-content-block__title.
                        Мой город:
            input.changing-content-block__input(type='text', value=city, placeholder='Введите ваш город', name='city')
            .form-body__input_error(id="cityError")
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            .changing-content-block__title.
                        Моя почта:
            input.changing-content-block__input(type='text', value=email, placeholder='Введите свою почту', name='email')
            .form-body__input_error(id="emailError")
    .changing-content-block__one-line-setting
        .changing-content-block__one-setting
            button.button-active.changing-content-block__button_save#postProfile.
                Сохранить изменения
