.smbs-event
    .smbs-event__photo(style='background: url(http://95.163.180.8:1323/api/v1/event/' + id + '/image) no-repeat center / cover;')
    .smbs-event__text
        .smbs-event__title
            a(href='event' + id, id=id) #{title}
        .smbs-event__info
            .smbs-event__place #{place} Какое-то место
            .smbs-event__data Начало:  #{startDate}
            .smbs-event__data Окончание:  #{endDate}
    .smbs-event__chosen