.container.container_mobile_fullscreen
    .page-photo_profile
    .row.row_mobile_fullscreen
        .profile-main-block
            .profile-header
                #profileAvatar.profile-header__avatar
                //.profile-header__avatar_default
                .profile-header__info-block
                    .profile-header__title
                        | #{name}
                    .profile-header__about
                        .profile-header__dialogue-cloud-img
                        | #{about}
                    .profile-header__other-info
                        .profile-header__info-segment
                            .profile-header__age-img
                            | #{age}
                        .profile-header__info-segment
                            .profile-header__city-img
                            | #{city}
                        .profile-header__info-segment
                            .profile-header__subscribers-img
                            | #{followers}
                .profile-header__button-block
                    button#subscribeUserButton.button-inactive Подписаться
                    button.button-inactive Написать
            .profile-decor-line
