.row
    .profile-main-block
        .profile-header
            #profileAvatar.profile-header__avatar
            .profile-header__info-block
                .profile-header__title
                    | #{name}
                .profile-header__about
                    .profile-header__dialogue-cloud-img
                    | #{about}
                .profile-header__other-info
                    .profile-header__info-segment
                        .profile-header__age-img
                        | #{age}
                    .profile-header__info-segment
                        .profile-header__city-img
                        | #{city}
                    .profile-header__info-segment
                        .profile-header__subscribers-img
                        | #{followers}
            .profile-header__button-block
                button.button-inactive &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
                button.button-inactive &Ncy;&acy;&pcy;&icy;&scy;&acy;&tcy;&softcy;
        .decor-line
        .button-block
            button#planningEventsButton.button-active(data-buttontype='toggle') &Pcy;&lcy;&acy;&ncy;&icy;&rcy;&ucy;&iecy;&mcy;&ycy;&iecy;
            button#visitedEventsButton.button-inactive(data-buttontype='toggle') &Pcy;&ocy;&scy;&iecy;&shchcy;&iecy;&ncy;&ncy;&ycy;&iecy;
        #events-list.smbs-events-block
        .paginator
            a.paginator__arrow-back(href='#')
            a.paginator__page-button(href='#') 1
            a.paginator__arrow-forward(href='#')
