.row
  .container
    .left-row
      .event-description
        button.event-description__star_inactive(id='jsEventStar')
        .event-description__title
          | #{title}
        .decor-line
        .event-description__body
          | #{description}
  .tags
    .container
      .left-row(id='jsTagsRow')
  .event-info
    .container
      .title
        | Когда?
      .event-info__date
        | #{date}
      .title Где?
      .event-info__location
        .location-text
          | #{place}
        .street-text
          | #{street}
        .underground-text
          | #{subway}
      .geolocation-image
