.row
  .container
    .left-row
      .event-description
        .event-description__star
        .event-description__title
          | #{title}
        .decor-line
        .event-description__body
          | #{description}
  .tags
    .container
      .left-row
        button.button-inactive
          span.button-label_inactive Культура
        button.button-inactive
          span.button-label_inacive Выставки
        button.button-inactive
          span.button-label_inactive Событие
        button.button-inactive
          span.button-label_inactive Кино
  .event-info
    .container
      .title
        | Когда?
      .event-info__date
        | #{date}
      .title Где?
      .event-info__location
        .location-text
          | #{place}
        .street-text
          | #{street}
        .underground-text
          | #{subway}
      .geolocation-image
      .decor-line
  .reviews-block
    .container
      .title Отзывы
      .rewiew-form
        .center-row
          .rate-stars
          textarea(name='rewiew-text' placeholder='Начните писать отзыв')
          button.confirm-rewiew-button
            span.button-label Отправить