.container.container_mobile_fullscreen
    .page-photo_profile
    .row.row_mobile_fullscreen
        .my-profile-main-block
            a.my-profile-main-block__back-button(href='/' data-direction='events' data-profileId=Uid)
            .my-profile-header
                #profileAvatar.my-profile-header__avatar-block
                    .error-block-avatar(id='jsErrorAvatar')
                    label.change-avatar-button(id='jsUploadAvatar')
                        input.settings-block__change-avatar-img(id='imageFile' type='file')
                    button.change-avatar-button__submit(id='jsSubmitAvatar')
                    button.change-avatar-button__decline(id='jsDeclineAvatar')
                    // <button class="change-avatar-button" id='postAvatarProfile' type='submit'></button>
                .my-profile-header__info-block
                    .my-profile-header__title #{name}
                    .my-profile-header__login-block @#{login}
                    a.my-profile-header__followers-block(href='profile' + Uid + 'followings?tab=followersTab')
                        .my-profile-header__followers-img
                        |#{followers}
                    a.my-profile-header__followers-block(href='profile' + Uid + 'followings?tab=followedUsersTab')
                        //.my-profile-header__followers-img
                        .my-profile-header__followed-users-img
                        | #{subscriptions}
                    .my-profile-header__events-stats-block
                        .my-profile-header__events-stats-block_planning
                            .my-profile-header__black-star-img
                            |#{planningCount}
                        .my-profile-header__events-stats-block_visited
                            .my-profile-header__visited-events-img
                            |#{visitedCount}
            .my-profile__tabs-block(id='jsTabsBlock')
                button#eventsTab.tab-inactive(data-buttontype='toggle')
                    .my-profile__events-img
                    | Мероприятия
                button#aboutTab.tab-inactive(data-buttontype='toggle')
                    .my-profile__about-img
                    | Обо мне
                button#settingsTab.tab-inactive(data-buttontype='toggle')
                    .my-profile__settings-img
                    | Настройки
            .search__decor-line
            #changing-content.changing-content-block.changing-content-block__low-padding
