.row
    .my-events-main-block
        .my-events-main-block__title
            a.my-events-main-block__back-button(href='#')
            |                     &Mcy;&ocy;&icy; &mcy;&iecy;&rcy;&ocy;&pcy;&rcy;&icy;&yacy;&tcy;&icy;&yacy;
        .decor-line
        .button-block
            button.button-active
                span.button-label &Pcy;&lcy;&acy;&ncy;&icy;&rcy;&ucy;&iecy;&mcy;&ycy;&iecy;
            button.button-inactive
                span.button-label_inactive &Pcy;&ocy;&scy;&iecy;&shchcy;&iecy;&ncy;&ncy;&ycy;&iecy;
        .my-events-block
            .event
                .event__photo
                .event__text
                    .event__title
                        |#{title}
                    .event__info
                        |#{date} #{place}
                .event__chosen
            .event
                .event__photo
                .event__text
                    .event__title
                        |#{title}
                    .event__info
                        |#{date} #{place}
                .event__chosen
            .event
                .event__photo
                .event__text
                    .event__title
                        |#{title}
                    .event__info
                        |#{date} #{place}
                .event__chosen
            .event
                .event__photo
                .event__text
                    .event__title
                        |#{title}
                    .event__info
                        |#{date} #{place}
                .event__chosen
        .paginator
            a.paginator__arrow-back(href='#')
            a.paginator__page-button(href='#') 1
            a.paginator__arrow-forward(href='#')
